
@media (min-width:411px){
	body{
		font-size: 14px;
	}
}

@media (min-width:765px){
	body {
		font-size: 18px;
    }
    .content-info .content-img img{
		height: 140px;
	}
}

@media (min-width:2024px){
	body {
		font-size: 23px;
	}
}

@media(min-width:600px){
    header nav.menu-desktop{
        justify-content: space-evenly;
    }
    header .menu li{
        padding: 0 10px;
    }

}

@media(min-width:900px){
    header {
        height: 15vh;
    }
    header nav.menu-desktop{
        align-items: center;
        justify-content: space-around;
    }
    
    header .logo img{
        width: 100px;
        height: 100px;
    }
    
    header .menu li{
        padding: 0 13px;
    }
    main{
        margin:100px auto;
    }
}

@media(min-width:490px){
	.content-info .content-img img{
		height: 110px;
    }
    .content-card .grid{
		grid-template-columns: 210px 210px;
	}
}


@media(min-width:880px){
	.content-card .grid{
		grid-template-columns: 240px 240px 240px;
	}
}

@media only screen and (max-width:345px){
    header menu{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav.menu-desktop{
        display:none;
    }
}